* {
  font-family: 'Encode Sans Condensed', sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: #000000;
  font-size: 14px;
  line-height: 100%;
  scroll-behavior: smooth;
  transition-duration:  0.2s;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.subtitle {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 600;
  line-height: 110%;
  margin: 0 0 20px;
  color: rgb(180, 73, 180);
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.bread-crumbs__body {
  padding: 20px 0;
  display: flex;
  align-items: center;
}

@keyframes navlink {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.bread-crumbs__link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  padding: 10px 5px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 5px 0 0;
  color: #000000;
}

.bread-crumbs__link--active {
  color: #db5e95;
}

.bread-crumbs__link::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  height: 2px;
  width: 100%;
  background-color: transparent;
  margin-top: 10px;
}

.bread-crumbs__link:hover::after {
  animation: navlink 0.3s ease;
  position: absolute;
  left: 0;
  display: block;
  content: '';
  height: 2px;
  background-color: #db5e95;
  margin-top: 10px;
}

.bread-crumb__div {
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  padding: 10px 5px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 5px 0 0;
  color: #000000;
}

.btn {
  display: block;
  background-color: #db5e95;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  border: 2px solid #db5e95;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #fff;
  color: #db5e95;
}

.btn-gray {
  display: block;
  background-color: #f1f1f1;
  text-transform: uppercase;
  color: #db5e95;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-gray:hover {
  border-color: #db5e95;
}

.btns-wrap {
  display: flex;
}

.loading {
  color: rgb(180, 73, 180);
  font-size: 18px;
  margin-bottom: 10px;
  animation: spin 2s infinite;
}

.notification {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 16px;
  font-weight: 600;
  z-index: 50;
}

.success {
  background-color: lightgreen;
}

.warning {
  background-color: lemonchiffon;
}

.raiting-error{
  display: block;
  /* padding: 5px; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  font-size: 16px;
  font-weight: 600;
  color: tomato;
  position: absolute;
  left: 0;
  top: -20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 993px) {
  .page-padding {
    padding: 0 60px;
  }
}

@media screen and (max-width: 992px) {
  .page-padding {
    padding: 0 40px;
  }
}


@media screen and (max-width: 767px) {
  .page-padding {
    padding: 0 20px;
  }
}


@keyframes svelte-1go0ut5-navlink{from{width:0%}to{width:100%}}.navbar.svelte-1go0ut5.svelte-1go0ut5{position:relative;z-index:100;box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px}.navbar__body.svelte-1go0ut5.svelte-1go0ut5{display:flex;justify-content:space-between;align-items:center;height:100px;padding:10px 0}.navbar__logo.svelte-1go0ut5.svelte-1go0ut5{height:100%;transition:all 0.3s ease}.navbar__logo.svelte-1go0ut5.svelte-1go0ut5:hover{transform:scale(1.1)}.navbar__logo-img.svelte-1go0ut5.svelte-1go0ut5{height:100%}.navbar__menu.svelte-1go0ut5.svelte-1go0ut5{display:flex;justify-content:space-between;align-items:center}.navbar__links.svelte-1go0ut5.svelte-1go0ut5{display:flex;margin-right:70px}.navbar__link.svelte-1go0ut5.svelte-1go0ut5{position:relative;display:inline-block;font-size:16px;text-align:center;padding:10px 5px;text-transform:uppercase;font-weight:500;margin:0 30px 0 0}.navbar__link.svelte-1go0ut5.svelte-1go0ut5::after{position:absolute;left:0;display:block;content:'';height:2px;width:100%;background-color:transparent;margin-top:10px}.navbar__link.svelte-1go0ut5.svelte-1go0ut5:hover::after{animation:svelte-1go0ut5-navlink 0.3s ease;position:absolute;left:0;display:block;content:'';height:2px;background-color:#db5e95;margin-top:10px}.profile.svelte-1go0ut5.svelte-1go0ut5{display:flex}.profile__icon-link.svelte-1go0ut5.svelte-1go0ut5{position:relative;transition:all 0.2s ease}.profile__icon-link.svelte-1go0ut5.svelte-1go0ut5:hover{transform:scale(1.2)}.profile__icon.svelte-1go0ut5.svelte-1go0ut5{width:30px;margin-right:20px}.profile__bag-num.svelte-1go0ut5.svelte-1go0ut5{position:absolute;top:-5px;right:-7px;width:20px;height:20px;font-size:16px;font-weight:700;background-color:#db5e95;border-radius:50%;display:flex;justify-content:center;align-items:center;color:#ffffff}.last.svelte-1go0ut5.svelte-1go0ut5{margin-right:0}.dropdown.svelte-1go0ut5.svelte-1go0ut5{position:relative}.navbar__menu-icon.svelte-1go0ut5.svelte-1go0ut5{cursor:pointer;display:none;margin-right:20px}#menu-bar.svelte-1go0ut5.svelte-1go0ut5{display:none}@media screen and (max-width: 992px){.navbar__menu-icon.svelte-1go0ut5.svelte-1go0ut5{display:initial}.navbar__links.svelte-1go0ut5.svelte-1go0ut5{display:none;position:absolute;width:100%;max-width:300px;top:100%;right:0;background-color:#ffffff;padding:20px 0;overflow:hidden;border-top:2px solid #db5e95;margin-right:0;box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px}.navbar__link.svelte-1go0ut5.svelte-1go0ut5{display:block;transition:all 0.2s;margin-right:0;font-weight:700}.navbar__link.svelte-1go0ut5.svelte-1go0ut5:hover{background-color:#db5e95;color:#ffffff}.navbar__link.svelte-1go0ut5.svelte-1go0ut5:hover:after{display:none}#menu-bar.svelte-1go0ut5:checked~.navbar__links.svelte-1go0ut5{display:block}}.footer.svelte-1l6a26.svelte-1l6a26{background-color:#db5e95}.footer__body.svelte-1l6a26.svelte-1l6a26{padding:60px 0;display:flex}.logo-link.svelte-1l6a26.svelte-1l6a26{height:80px;display:block;margin-right:40px}.footer__logo.svelte-1l6a26.svelte-1l6a26{height:100%;border-radius:4px}.footer__colomns.svelte-1l6a26.svelte-1l6a26{width:100%;display:grid;grid-template-columns:repeat(3, 1fr);gap:20px}.footer__colomn.svelte-1l6a26.svelte-1l6a26{display:flex;flex-direction:column;gap:15px}.footer__link--big.svelte-1l6a26.svelte-1l6a26{font-size:18px;color:#ffffff;text-transform:uppercase;font-weight:700;margin-bottom:10px}.footer__link.svelte-1l6a26.svelte-1l6a26{position:relative;display:block;color:#ffffff;font-size:18px;font-weight:500;align-self:flex-start}.footer__link.svelte-1l6a26.svelte-1l6a26::after{position:absolute;left:0;display:block;content:'';height:2px;width:100%;background-color:transparent;margin-top:5px}.footer__link.svelte-1l6a26.svelte-1l6a26:hover::after{animation:navlink 0.3s ease;position:absolute;left:0;display:block;content:'';height:2px;background-color:#ffffff}.footer__link-item.svelte-1l6a26.svelte-1l6a26{margin-left:10px}.footer__social.svelte-1l6a26.svelte-1l6a26{flex-direction:row}.social-link.svelte-1l6a26.svelte-1l6a26{width:30px;height:30px}.social-link.svelte-1l6a26.svelte-1l6a26:hover{opacity:70%}.social-link.svelte-1l6a26 img.svelte-1l6a26{width:100%;height:100%}@media screen and (max-width: 490px){.footer__body.svelte-1l6a26.svelte-1l6a26{display:block;padding:40px 0 }.logo-link.svelte-1l6a26.svelte-1l6a26{margin:0 0 40px}.footer__colomn.svelte-1l6a26.svelte-1l6a26{gap:24px}}